.nav-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
}

.nav-menu-list {
	display: flex;
	margin: 0;
	padding: 32px 0;
	gap: 72px;
}

.nav-menu-item {
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	line-height: 135%;
	list-style-type: none;
}

.nav-menu-link {
	color: #000;
	text-decoration: none;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-img {
	display: flex;
	width: 1400px;
	height: 552px;
	justify-content: center;
	align-items: center;
}

.main-content {
	display: flex;
	padding: 88px 0px;
	flex-direction: column;
	align-items: center;
}

.main-title {
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 48px;
	font-weight: 600;
	line-height: 135%;
}

.div-text {
	display: flex;
	padding: 40px 0;
	flex-direction: column;
	gap: 24px;
}

.main-paragraph-text,
.main-paragraph-slogan {
	color: #161616;
	font-family: Inter;
	font-size: 21px;
	line-height: 150%;
}

.main-paragraph-slogan {
	color: #04959e;
	font-weight: 600;
}

.main-list {
	width: 100%;
}

.main-list-item {
	color: #161616;
	font-family: Inter;
	font-size: 18px;
}

.main-button {
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	border: 0;
	display: flex;
	padding: 10px 24px;
	justify-content: center;
	align-items: center;
	background: #04959E;
}

.button-link {
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 135%;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-text {
	text-align: center;
	width: 856px;
	padding: 16px 0px;
}

.footer-text-item {
	color: #161616;
	font-family: Inter;
	font-size: 18px;
	line-height: 150%;
}